@charset "utf-8";
body {
    font-size: 15px;
    background-color: #222222;
    color: #C2C2C2;
}
h4 {
    font-weight: bold;
    color: #1A72D0;
}
@media screen and (max-width:1000px){
    body {
    font-size: 13px;
    
}
h4 {
    
    font-size: 15px;
}
}
